@font-face {
  font-family: "San Francisco";
  src:url("../font/SF-UI-Display-Light.woff");
  font-weight: lighter; 
}
@font-face {
  font-family: "San Francisco";
  src: url("../font/SF-UI-Display-Semibold.woff");
  font-weight: 700; 
}
@font-face {
  font-family: "San Francisco";
  src: url("../font/SF-UI-Display-Ultralight.woff"); 
  font-weight: 100;
}
@font-face {
  font-family: "San Francisco";
  src: url("../font/SF-UI-Text-Medium.woff"); 
  font-weight: 200;
}
@font-face {
  font-family: "San Francisco";
  src: url("../font/SF-UI-Text-Regular.woff");
  font-weight: bold;
}
@font-face {
  font-family: "San Francisco";
  src: url("../font/SF-UI-Text-Bold.woff");
  font-weight: 900;
}
*{
	font-family: "San Francisco";
	color: #fff;
}
body{
	background:url(../img/Fondo.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	max-width: 100%;
    overflow-y:hidden; 
}
.first{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width:100%;
  height: 800px;
}
.cinta{
	background-image: url(../img/liston.png);
	background-size: contain;
  background-repeat: no-repeat;
  width: 81%;
}
.logo{
	margin-top: 14%;
  padding: 0;
  position: relative;
  left: 13px;
}
.texto{
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 0.5px;
  width: 85%;
}
.contain{
	position: relative;
  left: 29px;
  padding-left: 4%;
  border-left: solid 6px #fff;
  margin-top: 14.4%;
}
.intro{
  background-image: url(../img/gris.png);
  -webkit-background-size: cover;
  background-size: cover;
  height: 300px;
  margin-top: -5.8em;
}
h4{
	font-weight: 900;
    font-size: 48px;
}
footer{
  padding: 1%;
  background-color:#000;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .container{
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 14px;
  margin-left: 3%; 
}
footer .container div p{
  margin: 0;
  padding: 0;
}
.info{
  width: 44%;
}
.phone{
  width: 19.6666%;
}
.email{
  width: 21.666667%;
}
.email a{
  color:#fff;
}
.direc{
  width:14%;
  text-align: right;
}
@media (min-width: 300px) and (max-width: 768px){
	.first{
    height: 500px;
    padding: 0;
    width: 100%;
    height: auto;
    margin-top: 61%;
  }
  .contain{
		border-left: none;
    	left: 0px;
    	top: 0px;
    	padding-left: 0%;
    	width: 100%; 
    	margin-top: 8%;
    	text-align: center;
	}
	h4{
		font-size: 2.2em;
    margin-left: 4%;
	}
	.cinta{
		background-image: none;
		margin-left: 0;
		margin-top: 0;
		position: none; 
    min-height: 0; 
    padding-right: 0; 
    padding-left: 0;
    width: 100%;
	}
	.logo{
		width: 21%;
    margin-left: 37%;
    margin-top: 6%;
	}	
	.texto{
		width: 100%;
		font-size: 15px;
		letter-spacing: 0;
    margin-left: 2.3%;
	}
	.intro{
    background-color:#d9a300;
    height: auto;
    overflow: hidden;
    padding: 0;
	}
  footer .container{
    font-size: 10px;
  }
  .info, .phone, .email, .direc{
    width: 100%;
    margin-bottom: 2%;
  }
  .direc{
    text-align: left;
  }
  .phone, .email, .direc{
    font-weight: lighter;
  }
}
@media (min-width: 768px) and (max-width: 900px){
  .first{
    height: 500px;
    padding: 0;
    width: 100%;
    height: auto;
    margin-top: 38%;
  }
  .contain{
    border-left: none;
    left: 0px;
    top: 0px;
    padding-left: 0%;
    width: 100%; 
    margin-top: 3%;
  }
  h4{
    font-size: 6em;
    margin-left: 4%;
  }
  .cinta{
    background-image: none;
    margin-left: 0;
    margin-top: 0;
    position: none; 
    min-height: 0; 
    padding-right: 0; 
    padding-left: 0;
    width: 100%;
  }
  .logo{
    width: 21%;
    margin-left: 37%;
    margin-top: 3%;
  } 
  .texto{
    width: 100%;
    font-size: 36px;
    letter-spacing: 0;
    margin-left:4%;
  }
  .intro{
    background-color:#d9a300;
    height: auto;
    overflow: hidden;
    padding: 0;
  }
  footer .container{
    font-size: 20px;
    margin-left: 0;
  }
  .info, .phone, .email, .direc{
    width: 100%;
    margin-bottom: 2%;
  }
  .direc{
    text-align: left;
  }
  .phone, .email, .direc{
    font-weight: lighter;
  }
}
}
@media (min-width: 1920px) and (max-width: 2000px){
	.first{
    height: 1080px;
  }
  .intro{
    height: 382px;
  }
  .logo{
    margin-top: 9%;
  }
  .contain{
    margin-top: 10.4%;
  }
  .texto{
    font-size: 30px;
  }
  h4{
    font-size: 73px;
  }
  footer .container{
    margin-left: 18%;
  }
}
